.tracking__panel
  background #ffffff44
  border 1px solid #ffffff55
  margin 10px 0px
  display flex
  font-family sans-serif
  flex-direction column
  padding 2px
  .tracking__panel__item
    .time
      position absolute
      right 15px
    line-height 30px
    background #A8D2DB
    border 1px solid #6666ff44
    margin 2px 0px
    padding 0px 9px
    width 94%
    height 30px
    &.--active
      background #5EDA58
