.user__panel
  margin 5px 10px 10px 5px
  height 30px
  color #222288
  border 1px solid #222288
  border-radius 5px
  background #22228822
  display flex
  flex-direction row
  .user__info
    flex 4
  .logout__button
    box-shadow none
    background #dd3355
    flex 1
